.effects .item {
  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 1px solid #c9a87c;
    border-right: 1px solid #c9a87c;
    font-size: 12px;
    color: #5c3d2e;
  }

  .effect-controls {
    border: none;
  }
}
